[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 16.0
[submodule "pintubahia"]
	path = pintubahia
	url = git@git.vauxoo.com:vauxoo/pintubahia.git
	branch = 16.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Vauxoo/product-attribute.git
	branch = 16.0
